[submodule "fonts/powerline-fonts"]
    path = ./fonts/powerline-fonts
    url = https://github.com/Lokaltog/powerline-fonts.git
    ignore = dirty
[submodule "fonts/ubuntu-mono-powerline-ttf"]
    path = ./fonts/ubuntu-mono-powerline-ttf
    url = https://github.com/pdf/ubuntu-mono-powerline-ttf.git
    ignore = dirty
[submodule "vim"]
    path = ./vim
    url = https://github.com/brianclements/vim.git
    ignore = dirty
